@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif SC", serif;

  color: #6b3e3b;
}

:root {
  --ff-c: "Noto Serif SC", serif;
  --ff-p: "Noto Serif SC", serif;

  --font-primary: "Noto Serif SC", serif;
  --font-secondary: "Noto Serif SC", serif;

  --text-color-dark: #2c3d50;

  --clr-primary: #6b3e3b;
  --clr-secondary: #f8e6e5;
  --clr-black: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: var(--text-color-dark); */
  color: black;
}
