.rating {
  text-align: start;
  display: flex;
  gap: 0.75em;

  &__stars {
    font-weight: 100;
    font-size: 0.9em;
  }

  &__total {
    font-family: var(--ff-l);
    font-weight: bold;
    font-size: 0.75em;
    color: rgba($color: #2c3d50, $alpha: 0.6);
  }
}
