.forgotpassbox {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;

  .yellow-design {
    position: absolute;
    background: rgba(202, 162, 110, 0.08);
    height: 330px;
    width: 475px;
    z-index: -1;
    margin-top: 156px;
  }

  &__left {
    margin-right: 132px;
    margin-left: 97px;
    margin-top: 83px;
    color: var(--text-color-dark);

    .forgotpassdetails {
      padding: 10px 43px;
      width: 476px;
      height: 507px;
      background: #ffffff;
      border: 1px solid rgba(44, 61, 80, 0.2);
      border-radius: 2px;
      flex-direction: column;

      .forgotpass__header {
        width: 352px;
        height: 72px;
        margin-top: 120px;
        margin-bottom: 20px;

        &--headertext {
          font-size: 28px;
          line-height: 36px;
        }
      }

      &--button {
        border: none;
        outline: none;
        padding: 14px 0;
        width: 100%;
        border-radius: 2px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        background: var(--clr-primary);
        color: var(--clr-secondary);
      }

      &__signuplink {
        display: block;
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        color: #43bde3;
        font-family: var(--ff-c);
      }

      button:hover {
        cursor: pointer;
      }

      .user-details {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input[type="email"] {
          width: 100%;
          border: 1px solid rgba(44, 61, 80, 0.2);
          border-radius: 2px;
          outline: none;
          font-size: 16px;
          line-height: 130%;
          color: #2c3d50;
          padding: 15px 21px;
          margin-bottom: 15px;
        }

        input[type="email"]::placeholder {
          opacity: 0.4;
        }
      }
    }
  }

  &__right {
    width: 735px;
    height: 851px;
    background-image: url(../images/login/loginbg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  .forgotpassbox {
    height: auto;
    margin-bottom: 4rem;
    margin-top: 36px;
  }

  .forgotpassbox__right {
    display: none;
  }

  .forgotpassbox__left {
    margin-right: 0;
    margin: 0 auto;
    height: 564px;

    .forgotpassdetails {
      .forgotpass__header {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;

        &--headertext {
          font-size: 22px;
          line-height: 29px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .forgotpassbox {
    .yellow-design {
      display: none;
    }
  }

  .forgotpassbox__left {
    width: 90%;

    .forgotpassdetails {
      width: 90%;
      height: 100%;
      margin: 16px;
      padding: 25px 10px;

      .social-forgotpass {
        flex-direction: column;
        align-items: center;

        a {
          width: 100%;
        }
      }

      .user-details {
        .extra-options {
          flex-direction: row;
          span {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
