.loginbox {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;

  .yellow-design {
    position: absolute;
    background: rgba(202, 162, 110, 0.08);
    height: 330px;
    width: 475px;
    z-index: -1;
    margin-top: 174px;
  }

  &__left {
    margin-right: 136px;
    margin-left: 93px;
    color: var(--text-color-dark);
    margin-top: 100px;

    .logindetails {
      padding: 10px 35px;
      width: 476px;
      height: auto;
      background: #ffffff;
      border: 1px solid rgba(44, 61, 80, 0.2);
      border-radius: 2px;
      flex-direction: column;

      &--button {
        border: none;
        outline: none;
        padding: 14px 0;
        width: 100%;
        background: var(--clr-primary);
        color: var(--clr-secondary);
        border-radius: 2px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
      }

      &__signuplink {
        display: block;
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center;
      }

      &__header {
        width: 205px;
        height: 72px;
        margin-bottom: 40px;
        margin-top: 64px;

        &--headertext {
          font-size: 26px;
          line-height: 36px;
        }
      }

      .registerdetails__header {
        width: 100%;
        height: 64px;
        margin-top: 31px;
        margin-bottom: 30px;

        &--headertext {
          font-size: 24px;
          line-height: 32px;
        }
      }

      a {
        font-size: 14px;
        line-height: 18px;
        color: #43bde3;
      }

      button:hover {
        cursor: pointer;
      }

      .badge {
        height: 50px;
        width: 50px;
        display: inline;
        border-radius: 50%;
        padding: 6px;
        color: #2c3d50;
        border: 1px solid rgba(44, 61, 80, 0.2);
      }

      .wrapper {
        text-align: center;
        margin: 15px 0;
      }

      .wrapper::before {
        content: " ";
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        width: 45%;
        display: block;
        position: relative;
        top: 11px;
        left: 0px;
      }

      .wrapper::after {
        content: " ";
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        width: 45%;
        display: block;
        position: relative;
        top: -9px;
        left: 220px;
      }

      .user-details {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input[type="text"],
        input[type="password"],
        input[type="number"],
        input[type="email"] {
          width: 100%;
          border: 1px solid rgba(44, 61, 80, 0.2);
          border-radius: 2px;
          outline: none;
          font-size: 16px;
          line-height: 130%;
          color: #2c3d50;
          padding: 15px 21px;
          margin-bottom: 15px;
        }

        .extra-options {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          padding: 0 8px;

          input[type="checkbox"] {
            margin-right: 6px;
          }

          label {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      .btn-social {
        width: 45%;
        padding: 16px 0;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        text-decoration: none;
        text-align: center;
      }

      .fb {
        background-color: #3b5998;
        color: white;
      }

      .google {
        background-color: #dd4b39;
        color: white;
      }

      .social-login {
        display: flex;
        justify-content: space-around;
      }
    }

    .otp {
      height: 505px;

      .otp__header {
        width: 352px;
        height: 72px;
        margin-top: 136px;
        margin-bottom: 45px;

        &--headertext {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }

    .forgotpass {
      height: 507px;

      .forgotpass__header {
        width: 352px;
        height: 72px;
        margin-top: 133px;
        margin-bottom: 20px;

        &--headertext {
          font-size: 28px;
          line-height: 36px;
        }
      }
    }
  }

  &__right {
    width: 735px;
    height: 851px;
    background-image: url(../images/login/loginbg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  .loginbox {
    height: auto;
    margin-bottom: 2rem;
    margin-top: 36px;
  }

  .loginbox__right {
    display: none;
  }

  .loginbox__left {
    margin-right: 0;
    margin: 0 auto;

    .logindetails__header {
      width: 100%;
      margin-bottom: 27px;
      text-align: center;
      margin-top: 23px;

      &--header {
        font-size: 22px;
        line-height: 28px;
      }
    }

    .logindetails {
      .registerdetails__header {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
        text-align: center;

        &--headertext {
          font-size: 22px;
          line-height: 29px;
        }
      }
    }

    .otp {
      .otp__header {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 48px;

        &--headertext {
          font-size: 22px;
          line-height: 29px;
        }
      }
    }

    .forgotpass {
      .forgotpass__header {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;

        &--headertext {
          font-size: 22px;
          line-height: 29px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .loginbox {
    .yellow-design {
      display: none;
    }
  }

  .loginbox__left {
    .logindetails {
      width: 90%;
      height: 100%;
      margin: 16px;
      padding: 25px 10px;

      .social-login {
        flex-direction: column;
        align-items: center;

        a {
          width: 100%;
        }
      }

      .user-details {
        .extra-options {
          flex-direction: column;
          span {
            margin-bottom: 5px;
          }
        }
      }

      .wrapper::before {
        width: 40%;
        top: 11px;
        left: 10px;
      }

      .wrapper::after {
        content: " ";
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        width: 40%;
        display: block;
        position: relative;
        top: -9px;
        left: 173px;
      }
    }
  }
}
