.allproducts-breadcrumbs {
  margin-left: 105px;
  margin-top: 60px;
  margin-bottom: 16px;
  p {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  img {
    width: 5px;
    height: 10px;
    opacity: 0.9;
    margin: 0 10px;
  }

  .category {
    color: #43bde3;
  }

  .classification {
    color: var(--text-color-dark);
  }
}

.allproducts {
  &-content {
    align-items: flex-start;
    justify-content: space-between;
  }

  &__filtersidebar {
    width: 294px;
    background: #f6f9fc;
    margin-left: 96px;
    margin-right: 22px;

    .clear-all {
      display: block;
      text-align: right;
      text-transform: uppercase;
      color: #43bde3;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      font-family: var(--font-secondary);
      margin-top: 31px;
      margin-right: 18px;
      margin-bottom: 15px;
    }

    .filters {
      margin-left: 36px;

      .see-more {
        font-size: 16px;
        line-height: 21px;
        color: #caa26e;
      }

      .material {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .size {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .designer {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .price {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 35px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .colour {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  &__products {
    margin-right: 96px;
    .header {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      &__heading {
        font-size: 28px;
        line-height: 36px;
        text-transform: capitalize;
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &--display-results {
          font-family: var(--font-secondary);
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          text-transform: capitalize;
          color: #43bde3;
          margin-bottom: 10px;
        }

        &--dropdown select {
          outline: none;
          background: #ffffff;
          border: 1px solid rgba(44, 61, 80, 0.2);
          box-sizing: border-box;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
          border-radius: 2px;
          width: 136px;
          height: 26px;
          text-align: center;
        }
      }
    }

    .product-container {
      display: grid;
      grid-gap: 27px 22px;
      grid-template-columns: repeat(3, 294px);
      margin-bottom: 40px;

      .product-item {
        height: 515px;

        &__image {
          height: 386px;
          position: relative;
          transition: visibility 500ms;
          .quick-view {
            position: absolute;
            visibility: hidden;

            bottom: 0;
            background: #caa26e;
            color: #fff;
            height: 36px;
            width: 100%;
            justify-content: center;

            &__text {
              font-family: var(--font-secondary);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        &__details {
          margin-top: 44px;
          margin-left: 17px;
          &--heading {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 3px;

            &:hover {
              cursor: pointer;
            }
          }

          &--price {
            font-size: 16px;
            line-height: 21px;
            font-family: var(--font-secondary);
          }
        }

        &:hover {
          box-shadow: 0px 4px 20px rgba(57, 70, 145, 0.08);
        }

        &:hover .quick-view {
          visibility: visible;
          transition: visibility 500ms;
        }
      }
    }

    .navigation {
      width: 100%;
      justify-content: center;
      &__button {
        padding: 9px 30px;
        height: 39px;
        border: 1px solid #abb1b9;
        background: #fff;
        border-radius: 2px;
        font-family: var(--font-secondary);
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }

      .previous {
        margin-right: 16px;
      }
    }
  }

  &__divider {
    margin: 0 96px;
    border-top: 1px solid #2c3d50;
    opacity: 0.2;
    margin-bottom: 56px;
    margin-top: 52px;
  }

  &__popularproducts {
    margin-left: 96px;
    .heading {
      font-size: 28px;
      line-height: 37px;
    }

    .product-container {
      display: grid;
      grid-gap: 27px 22px;
      grid-template-columns: repeat(4, 294px);
      margin-top: 25px;
      margin-bottom: 158px;

      .product-item {
        height: 515px;

        &__image {
          height: 386px;
          position: relative;
          transition: visibility 500ms;
          .quick-view {
            position: absolute;
            visibility: hidden;

            bottom: 0;
            background: #caa26e;
            color: #fff;
            height: 36px;
            width: 100%;
            justify-content: center;

            &__text {
              font-family: var(--font-secondary);
            }
          }
        }

        &__details {
          margin-top: 44px;
          margin-left: 17px;
          &--heading {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 3px;
          }

          &--price {
            font-size: 16px;
            line-height: 21px;
            font-family: var(--font-secondary);
          }
        }

        &:hover {
          /* cursor: pointer; */
          box-shadow: 0px 4px 20px rgba(57, 70, 145, 0.08);
        }

        &:hover .quick-view {
          visibility: visible;
          transition: visibility 500ms;
        }
      }
    }
  }
}
