.allproducts-breadcrumbs {
  margin-left: 105px;
  margin-top: 60px;
  margin-bottom: 16px;
  p {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  img {
    width: 5px;
    height: 10px;
    opacity: 0.9;
    margin: 0 10px;
  }

  .category {
    color: #43bde3;
  }

  .classification {
    color: var(--text-color-dark);
  }
}

.allproducts {
  &__bottombar {
    display: none;
  }

  &-content {
    align-items: flex-start;
    justify-content: space-between;
  }

  &__bottombar {
    display: none;
  }

  &__filtersidebar {
    width: 294px;
    background: #f6f9fc;
    margin-left: 96px;
    margin-right: 22px;

    .clear-all {
      display: block;
      text-align: right;
      text-transform: uppercase;
      color: #43bde3;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      font-family: var(--font-secondary);
      margin-top: 31px;
      margin-right: 18px;
      margin-bottom: 15px;
    }

    .filters {
      margin-left: 36px;

      .see-more {
        font-size: 16px;
        line-height: 21px;
        color: #caa26e;
      }

      .material {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .size {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .designer {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .price {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 35px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }

      .colour {
        margin-bottom: 31px;
        &__heading {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }

        &__list {
          &--item {
            margin-bottom: 8px;

            input {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  &__products {
    margin-right: 96px;
    .header {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      &__heading {
        font-size: 28px;
        line-height: 36px;
        text-transform: capitalize;
      }

      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &--display-results {
          font-family: var(--font-secondary);
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          text-transform: capitalize;
          color: #43bde3;
          margin-bottom: 10px;
        }

        &--dropdown select {
          outline: none;
          background: #ffffff;
          border: 1px solid rgba(44, 61, 80, 0.2);
          box-sizing: border-box;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
          border-radius: 2px;
          width: 136px;
          height: 26px;
          text-align: center;
          margin-left: 5px;
        }
      }
    }

    .product-container {
      display: grid;
      grid-gap: 27px 22px;
      grid-template-columns: repeat(3, 294px);
      margin-bottom: 40px;

      .product-item {
        height: 515px;
        position: relative;

        .heart {
          position: absolute;
          z-index: 1;
          top: 25px;
          right: 25px;

          &:hover {
            cursor: pointer;
          }
        }

        &__image {
          height: 386px;
          position: relative;
          transition: visibility 500ms;

          :hover {
            cursor: pointer;
          }

          .quick-view {
            position: absolute;
            /* visibility: hidden; */

            bottom: 0;
            background: #caa26e;
            color: #fff;
            height: 36px;
            width: 100%;
            justify-content: center;
            z-index: 1;

            &__text {
              font-family: var(--font-secondary);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        &__details {
          margin-top: 44px;
          margin-left: 17px;
          &--heading {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 3px;

            &:hover {
              cursor: pointer;
            }
          }

          &--price {
            font-size: 16px;
            line-height: 21px;
            font-family: var(--font-secondary);

            &--mrp {
              color: #bdcbdb;
              text-decoration: line-through;
              margin-left: 3px;
            }
          }
        }

        &:hover {
          box-shadow: 0px 4px 20px rgba(57, 70, 145, 0.08);
        }

        &:hover .quick-view {
          /* visibility: visible; */
          transition: visibility 500ms;
        }
      }
    }

    .navigation {
      width: 100%;
      justify-content: center;
      &__button {
        padding: 9px 30px;
        height: 39px;
        border: 1px solid #abb1b9;
        background: #fff;
        border-radius: 2px;
        font-family: var(--font-secondary);
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }

      .previous {
        margin-right: 16px;
      }
    }
  }

  &__divider {
    margin: 0 96px;
    border-top: 1px solid #2c3d50;
    opacity: 0.2;
    margin-bottom: 56px;
    margin-top: 52px;
  }

  &__popularproducts {
    margin-left: 96px;
    .heading {
      font-size: 28px;
      line-height: 37px;
    }

    .product-container {
      display: grid;
      grid-gap: 27px 22px;
      grid-template-columns: repeat(4, 294px);
      margin-top: 25px;
      margin-bottom: 158px;

      .product-item {
        height: 515px;

        &__image {
          height: 386px;
          position: relative;
          transition: visibility 500ms;
          .quick-view {
            position: absolute;
            visibility: hidden;

            bottom: 0;
            background: #caa26e;
            color: #fff;
            height: 36px;
            width: 100%;
            justify-content: center;

            &__text {
              font-family: var(--font-secondary);
            }
          }
        }

        &__details {
          margin-top: 44px;
          margin-left: 17px;
          &--heading {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 3px;
          }

          &--price {
            font-size: 16px;
            line-height: 21px;
            font-family: var(--font-secondary);
          }
        }

        &:hover {
          /* cursor: pointer; */
          box-shadow: 0px 4px 20px rgba(57, 70, 145, 0.08);
        }

        &:hover .quick-view {
          visibility: visible;
          transition: visibility 500ms;
        }
      }
    }

    .bottom-bar {
      display: none;
    }
  }
}

@media only screen and (max-width: 1320px) {
  .allproducts {
    &-breadcrumbs {
      margin: 20px 16px;
    }

    &__filtersidebar {
      margin-left: 16px;
    }

    &__divider {
      margin: 37px 16px;
    }

    &__products {
      width: 100%;
      margin-right: 16px;

      .product-container {
        grid-gap: 27px 10px;
        grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
      }
    }
  }
}

@media only screen and (max-width: 1022px) {
  .allproducts {
    &__filtersidebar {
      display: none;
    }

    &__products {
      margin: 0 16px;

      &__products {
        .product-container {
          .product-item {
            height: auto;

            &__image {
              height: auto;
            }
          }
        }
      }

      .header {
        &__right {
          display: none;
        }
      }
    }

    &__bottombar {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 56px;
      background: #fff;
      border-top: 1px solid rgba(44, 61, 80, 0.2);
      z-index: 15;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      .sort {
        flex: 1;
        justify-content: center;
        border-right: 1px solid rgba(44, 61, 80, 0.2);
        transition: all 0.3s ease-out;

        &:hover {
          cursor: pointer;
        }

        &__radio {
          margin-right: 10px;
        }

        &__background {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          animation: slide-up-fade-in ease 0.2s;
        }

        &__list {
          position: fixed;
          display: block;
          z-index: 20;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #fff;
          padding-left: 20px;

          &--item {
            margin: 20px 0;
          }
        }
      }

      .filter {
        flex: 1;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }

        .category__list--item:hover {
          cursor: pointer;
        }
      }

      .filterdiv {
        position: fixed;
        display: flex;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        background: #fff;
        flex-direction: column;

        .header {
          display: block;
          width: 100%;
          padding: 20px 15px;
          border-bottom: 1px solid rgba(44, 61, 80, 0.2);
        }

        &__container {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__left {
          padding-top: 20px;

          height: 100%;
          flex: 1;
          border-right: 1px solid rgba(44, 61, 80, 0.08);

          .category__list {
            padding-left: 15px;

            &--item {
              margin: 10px 0;
            }
          }
        }

        &__right {
          padding-top: 20px;

          height: 100%;
          flex: 2;

          .sortsub__list {
            padding-left: 15px;

            &--item {
              margin: 10px 0;
            }
          }
        }

        .cancelfilterdiv {
          position: fixed;
          bottom: 0;
          width: 100%;
          height: 60px;
          z-index: 1;
          border-top: 1px solid rgba(44, 61, 80, 0.2);
          background: #fff;

          .cancelfilter {
            flex: 1;
            z-index: 2;
            height: 100%;
            border-right: 1px solid rgba(44, 61, 80, 0.2);

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }
          }

          .applyfilter {
            flex: 2;
            z-index: 2;

            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media only screen and (max-width: 768px) {
  .allproducts {
    &__products {
      .product-container {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

        .product-item {
          height: auto;

          &__image {
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .allproducts {
    &__products {
      .product-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      .navigation {
        &__button {
          height: 28px;
          width: 72px;
          font-size: 12px;
          line-height: 16px;
          padding: 6px 45px;
        }
      }
    }
  }
}
