.footer {
  background: #222b32;
  position: relative;
  padding: 2em 1rem;
  /* margin-bottom: 56px; */

  &-text {
    font-size: 14px;
    line-height: 26px;
    color: #f4f9ff;
  }

  .about {
    width: 100%;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;

    p {
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 18px;

      color: #f4f9ff;
    }
  }

  .about {
    width: 100%;
  }

  &__policies {
    margin-bottom: 0.75em;

    &--heading {
      font-weight: 700;
      /* font-family: var(--font-secondary); */
      color: #43bde3;
      /* font-size: 1.15em;
      margin: 0.2em 0;
      letter-spacing: 0.075em; */
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 29px;
    }

    &--list {
      color: #fff;
      list-style: none;
      font-family: var(--ff-p);
      font-size: 1.12em;

      &-item {
        /* margin: 0.2em;
        line-height: 1.75;
        cursor: pointer; */

        font-size: 14px;
        line-height: 18px;
        color: #f4f9ff;

        &:not(:last-child) {
          margin-bottom: 19px;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  &__social {
    margin-top: 0.75em;

    &--heading {
      font-weight: 700;
      /* font-family: var(--font-secondary); */
      color: #43bde3;
      /* font-size: 1.2em;
      margin: 0.2em 0;
      letter-spacing: 0.075em; */

      font-size: 18px;
      line-height: 26px;
      margin-bottom: 29px;
    }

    &--list {
      color: #fff;
      list-style: none;
      /* font-family: var(--ff-p);
      font-size: 1.125em; */

      font-size: 14px;
      line-height: 18px;
      color: #f4f9ff;

      &:not(:last-child) {
        margin-bottom: 19px;
      }

      &-item {
        margin: 0.2em;
        line-height: 1.75;
        display: flex;
        gap: 1em;

        &:not(:last-child) {
          margin-bottom: 19px;
        }

        &--icon {
          width: 1em;
        }

        &--text {
          cursor: pointer;
          text-align: start;
          justify-self: flex-start;

          font-size: 14px;
          line-height: 18px;
          color: #f4f9ff;

          &:hover {
            cursor: pointer;
            /* text-decoration: underline; */
          }
        }
      }
    }
  }

  &__contact {
    margin-top: 0.75em;

    &--heading {
      font-weight: 700;
      /* font-family: var(--ff-l); */
      color: #43bde3;
      /* font-size: 1.2em;
      margin: 0.2em 0 0.75em 0;
      letter-spacing: 0.075em; */
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 29px;
    }

    &--list {
      color: #fff;
      list-style: none;
      font-family: var(--ff-p);
      font-size: 1.125em;

      &-item {
        margin: 0.2em;
        line-height: 1.75;
        display: flex;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: repeat(2, min-content);
        column-gap: 1em;

        &:not(:last-child) {
          margin-bottom: 19px;
        }

        &--icon {
          width: 1em;
          height: 1em;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 10px;
          }
        }

        &--text {
          cursor: pointer;
          text-align: start;
          justify-self: flex-start;

          font-size: 14px;
          line-height: 18px;
          color: #f4f9ff;
        }

        &--sub-text {
          grid-column: 2 / 3;

          font-size: 14px;
          line-height: 18px;
          color: #f4f9ff;
        }

        .msg {
          color: #808b96;
        }

        .email {
          cursor: pointer;

          a {
            color: #43bde3;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__logo {
    position: absolute;
    top: -23px;
    left: 10px;
  }
}

@media (min-width: 1170px) {
  .footer {
    padding: 5em 0 2em 0;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    font-size: 1.15rem;
    padding-bottom: 76px;

    .about {
      width: 20%;
    }

    &__policies {
      margin-bottom: 0;
    }

    &__social {
      margin-top: 0;
    }

    &__contact {
      margin-top: 0;
    }

    &__logo {
      top: -40px;
      left: 10px;
    }
  }
}
