.latest-collection {
  &__title {
    margin-top: 95px;
    margin-bottom: 101px;
    font-size: 36px;
    line-height: 44px;
  }


  &__button-area{
    width: 100%;
    justify-content: center;
  }

  &__btn {
    width: 335px;
    height: 53px;
    background: #28303a;
    border-radius: 2px;
    color: #fff;
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 21px;
    padding: 16px 32px;
    margin-top: 85px;
    margin-bottom: 144px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__wrapper-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 1fr;
    grid-gap: 23px;
    justify-content: center;
    margin: 0 97px;
  }

  //profile card container
  &__container {
    background-image: url(../images/homepage/latest-collections/desktop.png);
    height: 800px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 103px;

    &:hover {
      cursor: pointer;
    }
    &__text {
      color: #fff;
      margin: 0 auto;
      display: none;
      transition: display 2000ms linear;
    }
  }

  &__wrapper-grid {
    .latest-collection__container:hover .latest-collection__container__text {
      display: block;
    }
  }

  @media screen and (max-width: 1260px) {
    &__wrapper-grid {
      grid-template-columns: repeat(2, 400px);
      .latest-collection__container:last-child {
        display: none;
      }
    }
  }

  @media screen and (max-width: 860px) {
    &__container {
      background-image: url(../images/homepage/latest-collections/desktop.png);
      height: 100%;
      background-size: contain;
      background-position: top center;
      padding-bottom: 0px;
    }
    &__wrapper-grid {
      margin: 0 16px;
      grid-template-columns: 1fr;
      grid-template-rows: 800px;
    }
  }

  @media screen and (max-width: 500px) {

    &__btn {
      width: 90%;
      margin-top: 50px;
      margin-bottom: 64px;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__title {
      margin-top: 49px;
      margin-bottom: 51px;
      font-size: 26px;
      line-height: 31px;
    }

    &__container {
      background-image: url(../images/homepage/latest-collections/mobile.png);
      height: 100%;

      padding-bottom: 0px;
    }
    &__wrapper-grid {
      margin: 0 16px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 300px);
    }
  }

  
}

.feature {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__image {
    height: auto;
    text-align: center;
    margin-bottom: 4em;
    position: relative;

    &--border {
      height: 211px;
      width: 200px;
      position: absolute;
      bottom: -8px;
      left: calc(50% - 112px);
      border: 6px solid #32d8d2;
      z-index: -1;
    }
  }

  &__text {
    text-align: start;
    color: #2c3d50;
    margin-bottom: 1em;

    &--head {
      font-weight: 400;
      font-family: "Lora", serif;
      font-size: 1.25em;
      line-height: 1.5;
    }

    &--p {
      line-height: 1.3;
    }
  }

  &__cta {
    text-align: start;
    text-transform: uppercase;
    color: #43bde3;
    font-weight: 500;
    cursor: pointer;
    transition: font-size 250ms;

    &--text {
      margin-right: 1.2em;
      backface-visibility: hidden;
    }
  }

  &__divider {
    border: 1px solid #e6e8ea;
    margin: 2em auto;
    width: 75vw;
  }
}

.theme {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }

  &__desktop {
    display: none;
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 45%;

    &--icon {
      color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      font-size: 2.5em;
      margin: 0 1em;
      cursor: pointer;
      background: rgba(255, 237, 237, 0.35);
      width: 1em;
      height: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: #2c3d50;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
  }
}

.best-seller {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }

  &__desktop {
    display: none;
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 45%;

    &--icon {
      color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      font-size: 2.5em;
      margin: 0 1em;
      cursor: pointer;
      background: rgba(255, 237, 237, 0.35);
      width: 1em;
      height: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: #2c3d50;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
  }

  &__details {
    font-family: var(--ff-l);
    text-align: start;
    margin-top: 1em;
    margin-left: 2em;

    &--rating {
      margin-bottom: 0.5em;
    }

    &--text {
      h4 {
        font-size: 1.125;
        cursor: pointer;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      p {
        font-size: 0.875em;
        color: rgba($color: #2c3d50, $alpha: 0.6);
      }
    }
  }
}

.newsletter {
  background: #f6f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__text {
    font-size: 1.25em;
    margin: 4em auto 0.25em auto;
    font-family: var(--ff-p);
  }

  &__sub {
    font-size: 1.25em;
    border-radius: 2px;
    background: rgba(55, 63, 69, 0.2);
    padding: 0.5em;
    margin: 0 0.5em 4em 0.5em;
    display: flex;
    gap: 1em;

    &--input {
      display: inline-block;
      width: 100%;
      font-family: var(--ff-p);
      background: transparent;
      box-shadow: none;
      border: none;
      padding: 0.45em;
    }

    &--btn {
      display: inline-block;
      width: min-content;
      background: #222b32;
      color: #fff;
      padding: 0 1em;
      border: none;
      font-weight: lighter;
      cursor: pointer;
    }
  }
}

.customize {
  background: #28303a;
  margin-bottom: 5em;
  padding-top: 2.5em;

  &__features {
    padding: 0 2em;
    &--text {
      color: #f4f9ff;
      font-family: var(--ff-p);
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 1.5em;
    }

    &--btn {
      background: #f4f9ff;
      border: none;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: var(--ff-l);
      padding: 1em 2em;
      color: #2c3d50;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      margin-bottom: 1.5em;
      cursor: pointer;
    }
  }

  &__pictures {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    padding-top: 1.5em;

    &--img {
      display: inline-block;
      width: 100%;
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 5em;
      }
    }
  }
}

@media (min-width: 1170px) {
  .feature {
    margin: 4em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__image {
      height: auto;
      text-align: center;
      margin: 4em 0;
      position: relative;

      &--border {
        width: 100%;
        height: 100%;
        left: -2em;
        bottom: -1.75em;
        z-index: -1;
      }
    }

    &__details {
      width: 30%;
    }

    &__text {
      margin-bottom: 1em;
      width: 70%;

      &--head {
        font-size: 1.75em;
      }

      &--p {
        line-height: 1.3;
      }
    }

    &__divider {
      margin: 1em auto 1.5em 0;
      width: 80%;
    }
  }

  .theme {
    margin: 4em auto;

    &__mobile {
      display: none;
    }

    &__section:not(.theme__mobile) {
      position: relative;
      width: 92vw;
      margin: 4em auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;

      &--img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      margin: 0.75em 0 2em 0;
    }
  }

  .best-seller {
    margin: 4em auto;

    &__mobile {
      display: none;
    }

    &__section:not(.best-seller__mobile) {
      position: relative;
      width: 92vw;
      margin: 4em auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2em;
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      &--img {
        width: 100%;
        height: auto;
        transition: opacity 300ms;

        &:hover {
          opacity: 0.8;
        }
      }

      &--actions {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 10;
        top: calc(50% - 34px);
        visibility: hidden;
        transition: visibility 300ms, transform 500ms;
        transform: scale(0.75);

        &--icon {
          width: 4em;
          margin: 0 1em;
          height: 4em;
          background: rgba(255, 255, 255, 0.664);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;

          i {
            font-size: 2em;

            &.fa-heart:hover {
              color: rgba(255, 0, 0, 0.7);
            }

            &.fa-cart-plus:hover {
              color: rgba(0, 0, 255, 0.7);
            }
          }
        }
      }

      &:hover .best-seller__image--actions {
        visibility: visible;
        transform: scale(1);
      }
    }

    &__details {
      font-family: var(--ff-l);
      text-align: start;
      margin-top: 0.5em;
      margin-left: 2em;

      &--rating {
        margin-bottom: 0.5em;
      }

      &--text {
        h4 {
          font-size: 1.125;
        }

        p {
          font-size: 0.875em;
          color: rgba($color: #2c3d50, $alpha: 0.6);
        }
      }
    }
  }

  .newsletter {
    background: #f6f9fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__text {
      font-size: 1.5em;
      margin: 4em auto 0.25em auto;
    }

    &__sub {
      font-size: 1.5rem;
      width: 40%;
      padding: 0.5em;
      margin: 0.5em auto 4em auto;
    }
  }

  .customize {
    background: #28303a;
    margin-bottom: 15em;
    padding-top: 5em;

    &__features {
      padding: 0;

      &--text {
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        font-size: 1.75em;
        margin-bottom: 1em;
      }

      &--btn {
        margin-top: 1em;
        margin-bottom: 2.5em;
      }
    }

    &__pictures {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding-top: 2.5em;
      display: flex;
      justify-content: center;
      gap: 2em;
      align-items: center;
      transform: translateY(6.875em);

      &--img {
        margin-bottom: 0;
        &-2 {
          transform: translateY(-3.75em);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
