.showcase {
  &__div {
    position: relative;
  }

  &__text {
    position: absolute;
    bottom: 25%;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* display: block; */
    left: 50%;
    color: white;
    font-size: 35px;
    transform: translateX(-50%);
  }
}

.latest-collection {
  &__title {
    margin-top: 95px;
    margin-bottom: 95px;
    font-size: 36px;
    line-height: 44px;
  }

  &__button-area {
    width: 100%;
    justify-content: center;
  }

  &__btn {
    width: 335px;
    height: 53px;
    background: var(--clr-primary);
    border-radius: 2px;
    color: var(--clr-secondary);
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 21px;
    padding: 16px 32px;
    margin-top: 85px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    border: none;
  }

  &__wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));

    grid-gap: 25px;
    justify-content: center;
    margin: 2rem 97px;
  }

  //profile card container
  &__container {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &__picture {
      width: 100%;

      &--img {
        width: 100%;
      }
    }

    &__text {
      color: #fff;
      margin: 0 auto;
      /* display: none; */
      /* animation-name: zoom;
      animation-duration: 0.6s; */
      position: absolute;
      bottom: 25%;

      &--heading {
        font-size: 45px;
        /* line-height: 43px; */
        font-family: var(--font-secondary);
        color: #fff;
      }

      &--text {
        font-size: 18px;
        line-height: 23px;
        font-family: var(--font-secondary);
        color: #fff;
      }
    }
  }

  &__wrapper-grid {
    .latest-collection__container:hover .latest-collection__container__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  /* @media screen and (max-width: 1260px) {
    &__wrapper-grid {
      grid-template-columns: repeat(2, 400px);
    }
  } */

  @media screen and (max-width: 860px) {
    &__container {
      height: 100%;
      background-size: contain;
      background-position: top center;
      padding-bottom: 0px;
    }
    &__wrapper-grid {
      margin: 0 16px;
      grid-template-columns: 1fr;
      /* grid-template-rows: 800px; */
    }
  }

  @media screen and (max-width: 500px) {
    &__btn {
      width: 90%;
      margin-top: 50px;
      margin-bottom: 64px;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__title {
      margin-top: 49px;
      margin-bottom: 51px;
      font-size: 26px;
      line-height: 31px;
    }

    &__container {
      height: 100%;
      padding-bottom: 50px;

      &__picture {
        &--img {
          display: block;
          // background: linear-gradient(to top, black, red);
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
      }
    }

    &__wrapper-grid {
      margin: 0 16px;
      /* grid-template-columns: 1fr; */
      /* grid-template-rows: repeat(2, 300px); */
    }
  }
}

.feature {
  margin: 3em 0;
  text-align: center;
  /* width: 92vw; */
  margin-left: auto;
  margin-right: auto;

  &__image {
    height: auto;
    text-align: center;
    margin-bottom: 4em;
    position: relative;

    &--border {
      height: 211px;
      width: 200px;
      position: absolute;
      bottom: -8px;
      left: calc(50% - 112px);
      border: 6px solid #32d8d2;
      z-index: -1;
    }
  }

  &__text {
    text-align: start;
    color: #2c3d50;
    margin-bottom: 1em;

    &--head {
      font-weight: 400;
      font-size: 1.25em;
      line-height: 1.5;
    }

    &--p {
      line-height: 1.3;
    }
  }

  &__cta {
    text-align: start;
    text-transform: uppercase;
    color: #43bde3;
    font-weight: 500;
    cursor: pointer;
    transition: font-size 250ms;

    &--text {
      margin-right: 1.2em;
      backface-visibility: hidden;
    }
  }

  &__divider {
    border: 1px solid #e6e8ea;
    margin: 2em auto;
    width: 75vw;
  }
}

.theme {
  margin: 3em 0;
  /* width: 92vw; */
  margin-left: auto;
  margin-right: auto;

  .swiper-container {
    padding-bottom: 50px;
  }

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }


  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  .product-item {
    /* height: 515px; */
    position: relative;

    .heart {
      position: absolute;
      z-index: 1;
      top: 25px;
      right: 25px;

      &:hover {
        cursor: pointer;
      }
    }

    &__image {
      /* height: 386px; */
      position: relative;
      transition: visibility 500ms;

      :hover {
        cursor: pointer;
      }

      .quick-view {
        position: absolute;
        /* visibility: hidden; */

        bottom: 0;
        background: var(--clr-secondary);
        color: var(--clr-primary);
        height: 36px;
        width: 100%;
        justify-content: center;
        z-index: 1;

        &__text {
          font-family: var(--font-secondary);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__details {
      /* margin-top: 44px;
      margin-left: 17px; */
      margin: 20px;
      &--heading {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 3px;
      }

      &--price {
        font-size: 16px;
        line-height: 21px;
        font-family: var(--font-secondary);
        margin-right: 5px;

        &--mrp {
          color: #bdcbdb;
          text-decoration: line-through;
          margin-left: 3px;
        }
      }
    }
  }
}

.best-seller {
  margin: 3em 0;
  /* width: 92vw; */
  margin-left: auto;
  margin-right: auto;

  .swiper-container {
    padding-bottom: 50px;
  }

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }

  &__desktop {
    display: none;
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 45%;

    &--icon {
      color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      font-size: 2.5em;
      margin: 0 1em;
      cursor: pointer;
      background: rgba(255, 237, 237, 0.35);
      width: 1em;
      height: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: var(--clr-primary);

    font-weight: 400;
    margin: 1em 0;
    text-align: center;
  }

  &__details {
    font-family: var(--font-secondary);
    text-align: start;
    margin-top: 1em;
    margin-left: 2em;

    &--rating {
      margin-bottom: 0.5em;
    }

    &--text {
      h4 {
        font-size: 1.125;
        cursor: pointer;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      p {
        font-size: 0.875em;
        color: rgba($color: var(--clr-primary), $alpha: 0.6);
      }
    }
  }

  .product-item {
    /* height: 515px; */
    position: relative;

    .heart {
      position: absolute;
      z-index: 1;
      top: 25px;
      right: 25px;

      &:hover {
        cursor: pointer;
      }
    }

    &__image {
      /* height: 386px; */
      position: relative;
      transition: visibility 500ms;

      :hover {
        cursor: pointer;
      }

      .quick-view {
        position: absolute;
        /* visibility: hidden; */

        bottom: 0;
        background: var(--clr-secondary);
        color: var(--clr-primary);
        height: 36px;
        width: 100%;
        justify-content: center;
        z-index: 1;

        &__text {
          font-family: var(--font-secondary);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__details {
      /* margin-top: 44px;
      margin-left: 17px; */
      margin: 20px;
      &--heading {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 3px;
      }

      &--price {
        font-size: 16px;
        line-height: 21px;
        font-family: var(--font-secondary);
        margin-right: 5px;

        &--mrp {
          color: #bdcbdb;
          text-decoration: line-through;
          margin-left: 3px;
        }
      }
    }
  }
}

.newsletter {
  background: #f6f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__text {
    font-size: 1.25em;
    margin: 4em auto 0.25em auto;
    font-family: var(--ff-p);
  }

  &__sub {
    font-size: 1.25em;
    border-radius: 2px;
    background: rgba(248, 230, 229, 0.5);
    padding: 0.5em;
    margin: 0 0.5em 4em 0.5em;
    display: flex;
    gap: 1em;

    &--input {
      display: inline-block;
      width: 100%;
      font-family: var(--ff-p);
      background: transparent;
      box-shadow: none;
      border: none;
      padding: 0.45em;
      outline: none;
    }

    &--btn {
      display: inline-block;
      width: min-content;
      background: rgba(0, 0, 0, 0);
      color: #f8e6e5;
      padding: 0 1em;
      border: none;
      font-weight: lighter;
      cursor: pointer;
    }
  }
}

.customize {
  background: var(--clr-primary);
  margin-bottom: 5em;
  padding-top: 2.5em;

  &__features {
    padding: 0 2em;
    &--text {
      color: #f8e6e5;
      font-family: var(--ff-p);
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 1.5em;
    }

    &--btn {
      background: #f8e6e5;
      border: none;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-family: var(--font-primary);
      padding: 1em 2em;
      color: #2c3d50;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      margin-bottom: 1.5em;
      cursor: pointer;
    }
  }

  &__pictures {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    padding-top: 1.5em;

    &--img {
      display: inline-block;
      width: 100%;
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 5em;
      }
    }
  }
}

@media (min-width: 1170px) {
  .feature {
    /* margin: 4em 0; */
    margin-bottom: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__image {
      height: auto;
      text-align: center;
      margin: 4em 0;
      position: relative;

      &--border {
        width: 100%;
        height: 100%;
        left: -2em;
        bottom: -1.75em;
        z-index: -1;
      }
    }

    &__details {
      width: 30%;
    }

    &__text {
      margin-bottom: 1em;
      width: 70%;

      &--head {
        font-size: 1.75em;
      }

      &--p {
        line-height: 1.3;
      }
    }

    &__divider {
      margin: 1em auto 1.5em 0;
      width: 80%;
    }
  }

  .theme {
    margin: 4em auto;
    .swiper-container {
      padding-bottom: 50px;
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__text {
      margin: 0.75em 0 2em 0;
    }
  }

  .best-seller {
    margin: 4em auto;

    &__mobile {
      display: none;
    }

    &__section:not(.best-seller__mobile) {
      position: relative;
      /* width: 92vw; */
      margin: 4em auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 50px;
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      &--img {
        width: 100%;
        height: auto;
        transition: opacity 300ms;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__details {
      font-family: var(--ff-l);
      text-align: start;
      margin-top: 0.5em;
      margin-left: 2em;

      &--rating {
        margin-bottom: 0.5em;
      }

      &--text {
        h4 {
          font-size: 1.125;
        }

        p {
          font-size: 0.875em;
          color: rgba($color: var(--clr-primary), $alpha: 0.6);
        }
      }
    }
  }

  .newsletter {
    background: #f6f9fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__text {
      font-size: 1.5em;
      margin: 4em auto 0.25em auto;
    }

    &__sub {
      font-size: 1.5rem;
      width: 40%;
      padding: 0.5em;
      margin: 0.5em auto 4em auto;
    }
  }

  .customize {
    background: var(--clr-primary);
    margin-bottom: 15em;
    padding-top: 5em;

    &__features {
      padding: 0;

      &--text {
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        font-size: 1.75em;
        margin-bottom: 1em;
      }

      &--btn {
        margin-top: 1em;
        margin-bottom: 2.5em;
      }
    }

    &__pictures {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding-top: 2.5em;
      display: flex;
      justify-content: center;
      gap: 2em;
      align-items: center;
      transform: translateY(6.875em);

      &--img {
        margin-bottom: 0;
        &-2 {
          transform: translateY(-3.75em);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
