.latest-collection {
  margin: 3em auto;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__section {
    position: relative;
    margin-bottom: 1.5em;

    &:hover {
      figure {
        background: black;

        img {
          opacity: 0.8;
        }
      }

      & .latest-collection__text {
        transform: translateY(-2em);
        font-size: 1.2rem;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 100%;
    height: min-content;
    background: transparent;

    &--img {
      opacity: 1;
      width: 100%;
    }
  }

  &__text {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    z-index: 10;
    bottom: 5em;
    left: calc(50% - 102px);
    transition: transform 300ms;

    &--head {
      font-size: 2em;
      font-weight: 400;
    }

    &--p {
      font-size: 0.9em;
    }
  }

  &__btn {
    display: inline-block;
    width: 92vw;
    color: #fff;
    height: 3.3125em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    border: none;
    cursor: pointer;
    background: #28303a;
  }
}

.feature {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__image {
    height: auto;
    text-align: center;
    margin-bottom: 4em;
    position: relative;

    &--border {
      height: 211px;
      width: 200px;
      position: absolute;
      bottom: -8px;
      left: calc(50% - 112px);
      border: 6px solid #32d8d2;
      z-index: -1;
    }
  }

  &__text {
    text-align: start;
    color: #2c3d50;
    margin-bottom: 1em;

    &--head {
      font-weight: 400;
      font-family: "Lora", serif;
      font-size: 1.25em;
      line-height: 1.5;
    }

    &--p {
      line-height: 1.3;
    }
  }

  &__cta {
    text-align: start;
    text-transform: uppercase;
    color: #43bde3;
    font-weight: 500;
    cursor: pointer;
    transition: font-size 250ms;

    &--text {
      margin-right: 1.2em;
      backface-visibility: hidden;
    }
  }

  &__divider {
    border: 1px solid #e6e8ea;
    margin: 2em auto;
    width: 75vw;
  }
}

.theme {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }

  &__desktop {
    display: none;
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 45%;

    &--icon {
      color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      font-size: 2.5em;
      margin: 0 1em;
      cursor: pointer;
      background: rgba(255, 237, 237, 0.35);
      width: 1em;
      height: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: #2c3d50;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
  }
}

.best-seller {
  margin: 3em 0;
  text-align: center;
  font-family: "Lora", serif;
  width: 92vw;
  margin-left: auto;
  margin-right: auto;

  &__section {
    position: relative;
    margin-bottom: 1.5em;
  }

  &__desktop {
    display: none;
  }

  &__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    top: 45%;

    &--icon {
      color: rgba(255, 255, 255, 0.75);
      border-radius: 50%;
      font-size: 2.5em;
      margin: 0 1em;
      cursor: pointer;
      background: rgba(255, 237, 237, 0.35);
      width: 1em;
      height: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 2em;
    font-size: 1.625em;
    font-weight: 400;
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

    &--img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    color: #2c3d50;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
  }

  &__details {
    font-family: var(--ff-l);
    text-align: start;
    margin-top: 1em;
    margin-left: 2em;

    &--rating {
      margin-bottom: 0.5em;
    }

    &--text {
      h4 {
        font-size: 1.125;
        cursor: pointer;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      p {
        font-size: 0.875em;
        color: rgba($color: #2c3d50, $alpha: 0.6);
      }
    }
  }
}

.newsletter {
  background: #f6f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__text {
    font-size: 1.25em;
    margin: 4em auto 0.25em auto;
    font-family: var(--ff-p);
  }

  &__sub {
    border-radius: 2px;
    background: rgba(55, 63, 69, 0.2);
    padding: 0.5em;
    margin: 0 0.5em 4em 0.5em;
    display: flex;
    gap: 1em;

    &--input {
      display: inline-block;
      width: 100%;
      font-family: var(--ff-p);
      background: rgba(55, 63, 69, 0.2);
      box-shadow: none;
      border: none;
      padding: 0.5em;
    }

    &--btn {
      display: inline-block;
      width: min-content;
      background: #222b32;
      color: #fff;
      padding: 0 1em;
      border: none;
      font-weight: lighter;
      cursor: pointer;
    }
  }
}

@media (min-width: 1170px) {
  .latest-collection {
    &__container {
      display: flex;
      justify-content: space-around;
    }

    &__section {
      position: relative;
      margin-bottom: 4em;

      :hover {
        figure {
          background: black;
        }
      }
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
    }

    &__btn {
      width: 30vw;
    }
  }

  .feature {
    margin: 4em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__image {
      height: auto;
      text-align: center;
      margin: 4em 0;
      position: relative;

      &--border {
        width: 100%;
        height: 100%;
        left: -2em;
        bottom: -1.75em;
        z-index: -1;
      }
    }

    &__details {
      width: 30%;
    }

    &__text {
      margin-bottom: 1em;
      width: 70%;

      &--head {
        font-size: 1.75em;
      }

      &--p {
        line-height: 1.3;
      }
    }

    &__divider {
      margin: 1em auto 1.5em 0;
      width: 80%;
    }
  }

  .theme {
    margin: 4em auto;

    &__mobile {
      display: none;
    }

    &__section:not(.theme__mobile) {
      position: relative;
      width: 92vw;
      margin: 4em auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;

      &--img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      margin: 0.75em 0 2em 0;
    }
  }

  .best-seller {
    margin: 4em auto;

    &__mobile {
      display: none;
    }

    &__section:not(.best-seller__mobile) {
      position: relative;
      width: 92vw;
      margin: 4em auto;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2em;
    }

    &__title {
      margin-bottom: 2em;
      font-size: 2.25em;
      font-weight: 400;
    }

    &__image {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      &--img {
        width: 100%;
        height: auto;
        transition: opacity 300ms;

        &:hover {
          opacity: 0.8;
        }
      }

      &--actions {
        z-index: 10;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 10;
        top: calc(50% - 34px);
        visibility: hidden;
        transition: visibility 300ms, transform 500ms;
        transform: scale(0.75);

        &--icon {
          width: 4em;
          margin: 0 1em;
          height: 4em;
          background: rgba(255, 255, 255, 0.664);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;

          i {
            font-size: 2em;

            &.fa-heart:hover {
              color: rgba(255, 0, 0, 0.7);
            }

            &.fa-cart-plus:hover {
              color: rgba(0, 0, 255, 0.7);
            }
          }
        }
      }

      &:hover .best-seller__image--actions {
        visibility: visible;
        transform: scale(1);
      }
    }

    &__details {
      font-family: var(--ff-l);
      text-align: start;
      margin-top: 0.5em;
      margin-left: 2em;

      &--rating {
        margin-bottom: 0.5em;
      }

      &--text {
        h4 {
          font-size: 1.125;
        }

        p {
          font-size: 0.875em;
          color: rgba($color: #2c3d50, $alpha: 0.6);
        }
      }
    }
  }

  .newsletter {
    background: #f6f9fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__text {
      font-size: 1.5em;
      margin: 4em auto 0.25em auto;
    }

    &__sub {
      font-size: 1.2rem;
      width: 40%;
      padding: 0.5em;
      margin: 0.5em auto 4em auto;
    }
  }
}
