.quickviewmodal {
  display: flex;
  position: fixed;
  z-index: 20;
  padding-top: 85px;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(44, 61, 80, 0.4);

  &__content {
    margin: auto;
    width: 90%;
    height: auto;
    animation-name: zoom;
    animation-duration: 0.6s;
    background-color: #fff;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .mobileproductimages {
      display: none;
    }

    .productimages {
      .yellow-box {
        position: absolute;
        top: 210px;
        left: 0;
        width: 228px;
        height: 331px;
        background: rgba(202, 162, 110, 0.08);
        z-index: -1;
      }

      flex: 1;
      margin-top: 96px;
      margin-left: 80px;

      display: flex;

      &__main {
        width: 431px;
        height: 573px;
        transition: all 0.2s linear;
      }

      &__thumbs {
        margin-right: 25px;
        div {
          width: 123px;
          height: 123px;
          cursor: pointer;

          &:nth-child(2) {
            margin: 20px 0;
          }
        }
      }
    }

    .productdetails {
      flex: 1;
      margin-top: 96px;
      padding-left: 80px;

      &__container {
        width: 400px;
        .mainheading {
          font-size: 28px;
          line-height: 37px;
          margin-bottom: 18px;
        }

        .line {
          display: block;
          width: 100%;
          border-top: 1px solid rgba(44, 61, 80, 0.1);
          margin-bottom: 16px;
        }

        .productdetailstext {
          font-size: 16px;
          line-height: 19px;
          font-family: var(--font-secondary);
          margin-bottom: 40px;
        }

        .size {
          margin-bottom: 40px;
          &__header {
            justify-content: space-between;
            font-size: 14px;
            line-height: 19px;

            .view:hover {
              cursor: pointer;
            }
          }

          .selectsize {
            div {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 1px solid #2c3d50;
              margin-top: 11px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;

              p {
                font-size: 12px;
                line-height: 12px;
                font-weight: 700;
                font-family: var(--font-secondary);
              }
            }
          }
        }

        .selectquantity {
          margin-bottom: 40px;
          .heading {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
          }

          .inputs {
            justify-content: space-between;

            .input-group {
              .button {
                height: 40px;
                width: 40px;
                border: 1px solid rgba(44, 61, 80, 0.4);
                border-radius: 2px;
                outline: none;
                background: #fff;
              }

              .button:hover {
                cursor: pointer;
              }

              .quantity-field {
                outline: none;
                width: 80px;
                height: 40px;
                margin: 0 12px;
                text-align: center;
                border: 1px solid #2c3d50;
                border-radius: 2px;
              }
            }
          }

          .savingsinfo {
            background: rgba(40, 183, 105, 0.1);
            border-radius: 2px;
            color: #28b769;
            font-size: 14px;
            line-height: 21px;
            height: 40px;
            padding: 10px 28px;
            p {
              font-family: var(--font-secondary);
            }
          }
        }

        .secondline {
          display: block;
          width: 100%;
          border-top: 1px solid rgba(44, 61, 80, 0.1);
          margin-bottom: 22px;
        }

        .subtotal {
          justify-content: space-between;
          margin-bottom: 4px;
        }

        .subtotaldescription {
          margin-bottom: 16px;
          &__list {
            list-style: disc;
            margin-left: 15px;
            &--item {
              font-size: 14px;
              line-height: 21px;
              font-family: var(--font-secondary);
            }
          }
        }

        .cta {
          .btn {
            border-radius: 2px;
            height: 53px;
            text-transform: uppercase;
            font-family: var(--font-secondary);
            justify-content: center;
            outline: none;
            border: none;
          }

          .checkout {
            width: 100%;
            background: #2c3d50;
            color: #fff;
            margin-bottom: 15px;
          }

          .addtocart {
            border: 1px solid #2c3d50;
          }
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 36px;
    right: 38px;
    color: #2c3d50;
    font-size: 40px;
    /*  font-weight: bold; */
    transition: 0.3s;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @media only screen and (max-width: 1300px) {
    &__content {
      .productimages {
        margin-left: 10px;

        &__main {
          width: 380px;
          height: 530px;
        }
      }

      .productdetails {
        padding-left: 40px;

        &__container {
          width: 378px;
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    &__close {
      top: 0px;
      right: 15px;
    }

    &__content {
      flex-direction: column;

      .mobileproductimages {
        display: block;

        margin: 0 auto;
        width: 80%;

        /* width: 400px; */
        margin-top: 50px;
        /* height: 300px; */
      }

      .carousel__dot-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .productimages {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 47px;
        margin: 0;

        &__thumbs {
          display: none;
        }

        &__main {
          display: none;
        }
        .yellow-box {
          display: none;
        }
      }

      .productdetails {
        margin-top: 35px;
        &__container {
          width: 90%;

          .selectquantity {
            .inputs {
              flex-wrap: wrap;

              .savingsinfo {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
