.thankyou {
  font-size: 1rem;
  max-width: 1200px;
  width: 90%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 3em;

  &__head {
    &--title {
      margin-bottom: 1em;
    }
  }

  &__tick {
    text-align: center;
  }

  &__noti {
    line-height: 1.75;

    a {
      text-decoration: underline;
    }
  }

  .cta {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    font-size: 1em;
    line-height: 21px;
    padding: 1em 2em;
    text-transform: uppercase;
    background: var(--clr-primary);
    border-radius: 2px;
    color: var(--clr-secondary);
    font-family: var(--font-secondary);
  }
}

@media only screen and (min-width: 742px) {
  .thankyou {
    text-align: center;
    font-size: 1.2rem;
  }
}
