@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-c: "Cormorant Garamond", serif;
  --ff-p: "Playfair Display", serif;
  --text-color-dark: #2c3d50;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}
