.flex {
  display: flex;
  align-items: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-5 {
  margin-left: 5rem;
}

.flex-row {
  flex-direction: row;
}

.hide {
  display: none;
}
