.content {
  padding-top: 75px;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-5 {
  margin-left: 5rem;
}

.flex-row {
  flex-direction: row;
}

.hide {
  display: none;
}

.section-title {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 0.3em;
  align-items: center;

  &::after {
    content: "";
    display: inline-block;
    height: 0;
    border: 1px solid #2c3d50;
    background: #000;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 0;
    border: 1px solid #2c3d50;
    background: #000;
  }
}

@media (min-width: 1170px) {
  .section-title {
    &::before {
      width: 5em;
      max-width: 5em;
      margin-left: auto;
    }

    &::after {
      max-width: 5em;
    }
  }
}
